.main {

  width: 100%;
  height: 900px;
  position: absolute;
 
 
}
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #95a5a6;
  
}
.logo{
  
  margin-left: 50px;
  
}


.navigation {
  
width: 25%;
  position: relative;
  display: flex;
  justify-content: space-between;
 
  text-align: center;
  
 

}
.navbarlink{
  text-decoration: none;
  color: white;
  transition-delay: 0.2s;
  padding: 5px;
}
.navbarlink:hover {
  color: aquamarine;
  
}

