.home {
  
  width: 100%;
  height: 100%;
  background-color: #F2F3F4 ;
  position: absolute;
}
.homeContainer {
  width: 90%;
  height: 100%;
  background-image: url("/images/weather1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin:auto;
  position: relative;
  text-align: center;
  /* position: absolute; */
  
}

.homeForm {
 
  width: 80%;
  height: 20%;
  text-align: center;
  margin:  auto;
  position: relative;
  padding: 80px 0;
}
.homeinput {
  @apply text-center h-5 bg-white bg-opacity-60 placeholder:text-slate-600;
}

.button {
  @apply absolute  w-6 h-6 mx-1;
}
.iconimg {
  margin: auto;
}
